/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: var(--min);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	max-width: 100%;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
html {
    //height: -webkit-fill-available;
}
.cnt-full-wrap {
    margin-left: calc(var(--paddingContainer) * -1);
    margin-right: calc(var(--paddingContainer) * -1);
    padding-left: var(--paddingContainer);
    padding-right: var(--paddingContainer);
}
.inner-wrap, .page-full {
	position: relative;
	clear: both;
	margin: 0 auto;
    padding-left: var(--paddingContainer);
    padding-right: var(--paddingContainer);
	min-width: var(--min);
	max-width: var(--max);
	width: 100%;
	.inner-wrap {
		min-width: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.cnt-section {
		min-width: 0;
	}
}
.page-full {
	flex: 1 0 auto;
}
.wrap, .footer {
	// -webkit-transform: translate3d(0,0,0);
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
	position: relative;
	clear: both;
	min-width: var(--min);
	width: 100%;
}
.wrap {
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	&>.cnt-section {
		flex-shrink: 0;
	}
}
.nav,
.header,
.footer {
	flex-shrink: 0;
	line-height: 1;
	text-align: left;
	ul, li, p {
		margin: 0;
		padding: 0;
		&:before {
			display: none;
		}
	}
	a {
		text-decoration: none;
		position: relative;
		transition: all ease 0.2s;
	}
}
.header-outer-wrap {
	.header-bg-wrap {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 100dvw;
		min-width: var(--min);
		transform: translateX(-50%);
	}
}
.header-title-box {
	margin-bottom: 15px;
	font-size: 14px;
	.header-title {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		flex-shrink: 0;
	}
	.elm-ico {
		width: (50/14em);
		height: (50/14em);
		flex-shrink: 0;
	}
	.title-inner {
		display: block;
		padding: 0 0 0 (15/24em);
		font-size: (24/14em);
		font-weight: 600;
		text-transform: uppercase;
		color: var(--clr-att);
		margin: 0;
	}
}
.header {
	z-index: 99;
	background: #fff;
	padding: 5px 0;
	.inner-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	.popup-menu-wrap {
		width: 24px;
		height: 24px;
		flex-shrink: 0;
		order: 1;
		margin: 5px 10px 5px 0;
		position: relative;
	}
	.logo-wrap {
		width: 282px;
		flex-shrink: 0;
		order: 2;
		padding: 5px 0;
	}
	.actions-wrap {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		order: 3;
		padding: 5px 0;
		width: 100%;
		justify-content: space-between;
	}
	.action-wrap {
		padding: 0 30px 0 0;
		flex-shrink: 0;
		&:last-child {
			padding-right: 0;
		}
	}
	.link-phone {
		font-size: 18px;
		font-weight: bold;
		color: var(--clr-att);
		background: linear-gradient(0deg, #312E6A 0%, #57BDDD 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.popup-menu-wrap {
	.popup-content-block {
		display: none;
		position: absolute;
		top: 100%;left: 0;
		margin-top: 10px;
		min-width: 240px;
		z-index: 10;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 0 10px fade(#000, 20);
		padding: 15px 0;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		a {
			display: block;
			padding: 5px 15px;
			color: inherit;
			&:hover, &.active {
				color: #fff;
				background-color: var(--clr-att);
			}
		}
	}
	.btn-popup-toggle {
		width: 24px;height: 24px;
	}
}
.logo {
    display: block;
    position: relative;
    overflow: hidden;
    line-height: 1;
    text-decoration: none;
    width: 100%;
    letter-spacing: normal;
    font-weight: 400;
    &:hover {
        text-decoration: none;
    }
    img {
        display: block;
        width: 100%;
    }
}
@media (max-width: 1023px) {
    .section-mobile-full {
        margin-left: calc(var(--paddingContainer) * -1);
        margin-right: calc(var(--paddingContainer) * -1);
    }
}
@media (min-width: 768px) {
	.header-title-box {
		font-size: 20px;
	}
	.header {
		.inner-wrap {
			justify-content: flex-start;
		}
		.logo-wrap {
			flex: 1;
			padding-right: 30px;
		}
		.actions-wrap {
			width: auto;
			justify-content: flex-end;
		}
		.logo {
			max-width: 400px;
		}
	}
}
@media (min-width: 1024px) {
	.header-title-box {
		padding: 10px 0;
		font-size: 16px;
		margin: 0;
		.header-title {
			justify-content: center;
		}
		.elm-ico {
			width: (150/20em);height: (150/20em);
		}
		.title-inner {
			padding-left: 3rem;
			font-size: (96/20em);
			font-weight: bold;
		}
	}
	.header-outer-wrap {
		&.section-inner, &.section-main {
			margin-bottom: 0;
			height: 112.5rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			width: 100%;
		}
		&.section-inner {
			margin-bottom: 30px;
		}
		&.section-main {
			.header-inner-wrap {
				position: absolute;
				left: 0;
				right: 0;
				top: auto;
				bottom: 15px;
			}
			.header {
				margin-bottom: 0;
				.inner-wrap {
					justify-content: center;
				}
				.logo-wrap {
					padding: 0 4rem 0 0;
					flex: inherit;
					flex-shrink: 0;
					max-width: calc(100% - 245px);
					width: 99.5rem;
					.logo {
						max-width: 100%;
					}
				}
				.popup-menu-wrap {
					display: none;
				}
				.actions-wrap {
					display: block;
					text-align: center;
					width: 245px;
					.btn {
						width: 245px;
						padding-left: 10px;
						padding-right: 10px;
					}
				}
				.action-wrap {
					width: 100%;
					padding: 0;
					margin-bottom: 15px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.header-bg-wrap {
			display: block;
		}
		.header {
			background: none;
			box-shadow: none;
		}
		.header-inner-wrap {
			width: 100%;
			flex-shrink: 0;
			z-index: 100;
		}
	}
	.header {
		padding: 15px 0;
		.action-wrap {
			padding-right: 10px;
		}
		.link-phone {
			font-size: 2.4rem;
		}
		.logo-wrap {
			padding-left: 5px;
		}
		.logo {
			max-width: 68.5rem;
		}
	}
}
@media (min-width: 1400px) {
	.header-title-box {
		font-size: 20px;
	}
}