
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="actions-wrap">
			<div class="action-wrap">
				<a href="tel:88008880000" class="link-phone">8 800 888 00 00</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn button-small js-popup-open" data-popup="popup-city">Выбрать город</a>
			</div>
		</div>
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup-toggle btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li><a href="">Главная</a></li>
					<li><a href="">Город</a></li>
					<li><a href="">Супермаркеты</a></li>
					<li><a href="">Автобусы</a></li>
					<li><a href="">Видеоролики</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- /header -->
